.list {
  list-style: none;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  grid-gap: 10px;

  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
  }

  &__item {
    width: 135px;
    color: white;
    background: turquoise;

    @media all and (min-width: 768px) {
      width: 200px;
    }
  }
}
