.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  @media all and (min-width: 768px) {
    margin: 30px;
  }

  &__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    align-self: flex-end;
    padding-bottom: 20px;

    @media all and (min-width: 768px) {
      font-size: 25px;
    }
  }
}

.article {
  background: #40e0d0;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;

  @media all and (min-width: 768px) {
    width: 700px;
    height: 400px;
  }

  &__container {
    margin-left: 15px;
    line-height: 1.5;
    @media all and (min-width: 768px) {
      margin-left: 30px;
    }
  }

  &__title {
    font-size: 18px;
    @media all and (min-width: 768px) {
      font-size: 48px;
    }
  }

  &__list {
    list-style: none;
  }
  &__list--item {
    font-size: 12px;
    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__img {
    width: 130px;
    @media all and (min-width: 768px) {
      width: 350px;
    }
  }
}
