.form {
  text-align: center;
  margin-bottom: 30px;

  &__searchBar {
    background-color: #000000;
    border: 1px solid #00f00c;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
    cursor: text;

    @media all and (min-width: 768px) {
      padding: 15px;
      font-size: 28px;
    }
  }
}
